<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>621805870576-von72no02sikd47mnne62vtud54r0737.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.621805870576-von72no02sikd47mnne62vtud54r0737</string>
	<key>API_KEY</key>
	<string>AIzaSyBqJm7cngtQWBEomlqlG3Ka4jfeC72pGGY</string>
	<key>GCM_SENDER_ID</key>
	<string>621805870576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ridersafetravel.travelsafe</string>
	<key>PROJECT_ID</key>
	<string>nirbhaya-rider</string>
	<key>STORAGE_BUCKET</key>
	<string>nirbhaya-rider.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:621805870576:ios:36ed79367c8dd656679135</string>
	<key>DATABASE_URL</key>
	<string>https://nirbhaya-rider-default-rtdb.firebaseio.com</string>
</dict>
</plist>